@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #eeeeee;
    --pink: #ec4899;
    --purple: #8b5cf6;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--darker);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 800px;
    max-width: 80%;
    min-height: 60%;
    background-color: var(--gray);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

#question {
    color: var(--light);
    font-size: 2rem;
    /* text-align: center; */
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding: 2rem 0;
}

.feeling-btn {
    /* border: 1px solid var(--darkest); */
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--dark);
    border: 3px solid var(--dark);
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--light);
    outline: none;
}

.feeling-btn:hover {
    /* background-color: var(--darkest); */
    border-color: var(--darkest) ;
}

@media only screen and (max-width: 420px) {
    .container {
        max-width: 90vw;
        min-height: 80%;
  
    }

    .feeling-btn {
        padding: 20px 5px;
    }
}